/*
ODIN Fleet API

API to access Odin Fleet, empowering developers to deploy gameservers all around the world in just a few lines of code.  To authenticate, users must send their email, password, and session ID to the **[`/api/auth`](/operations/getAuthToken)** endpoint. Upon successful authentication, an API token will be provided. This token should be included in the `Authorization` header as a Bearer token for all subsequent requests.      Alternatively, you can copy your API key directly from our **[`console`](https://console.4players.io)** by opening any app, and then going to **Settings -> API Keys**.

API version: 0.9.2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"strings"
)


// AppLocationSettingsAPIService AppLocationSettingsAPI service
type AppLocationSettingsAPIService service

type AppLocationSettingsAPICreateAppLocationSettingRequest struct {
	ctx context.Context
	ApiService *AppLocationSettingsAPIService
	app int32
	storeAppLocationSettingRequest *StoreAppLocationSettingRequest
}

func (r AppLocationSettingsAPICreateAppLocationSettingRequest) StoreAppLocationSettingRequest(storeAppLocationSettingRequest StoreAppLocationSettingRequest) AppLocationSettingsAPICreateAppLocationSettingRequest {
	r.storeAppLocationSettingRequest = &storeAppLocationSettingRequest
	return r
}

func (r AppLocationSettingsAPICreateAppLocationSettingRequest) Execute() (*AppLocationSetting, *http.Response, error) {
	return r.ApiService.CreateAppLocationSettingExecute(r)
}

/*
CreateAppLocationSetting Create a new location setting

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param app The app ID
 @return AppLocationSettingsAPICreateAppLocationSettingRequest
*/
func (a *AppLocationSettingsAPIService) CreateAppLocationSetting(ctx context.Context, app int32) AppLocationSettingsAPICreateAppLocationSettingRequest {
	return AppLocationSettingsAPICreateAppLocationSettingRequest{
		ApiService: a,
		ctx: ctx,
		app: app,
	}
}

// Execute executes the request
//  @return AppLocationSetting
func (a *AppLocationSettingsAPIService) CreateAppLocationSettingExecute(r AppLocationSettingsAPICreateAppLocationSettingRequest) (*AppLocationSetting, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AppLocationSetting
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppLocationSettingsAPIService.CreateAppLocationSetting")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/apps/{app}/location-settings"
	localVarPath = strings.Replace(localVarPath, "{"+"app"+"}", url.PathEscape(parameterValueToString(r.app, "app")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.storeAppLocationSettingRequest == nil {
		return localVarReturnValue, nil, reportError("storeAppLocationSettingRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.storeAppLocationSettingRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v InlineObject1
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AppLocationSettingsAPIDeleteAppLocationSettingRequest struct {
	ctx context.Context
	ApiService *AppLocationSettingsAPIService
	appLocationSetting int32
}

func (r AppLocationSettingsAPIDeleteAppLocationSettingRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteAppLocationSettingExecute(r)
}

/*
DeleteAppLocationSetting Delete a location setting

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param appLocationSetting The app location setting ID
 @return AppLocationSettingsAPIDeleteAppLocationSettingRequest
*/
func (a *AppLocationSettingsAPIService) DeleteAppLocationSetting(ctx context.Context, appLocationSetting int32) AppLocationSettingsAPIDeleteAppLocationSettingRequest {
	return AppLocationSettingsAPIDeleteAppLocationSettingRequest{
		ApiService: a,
		ctx: ctx,
		appLocationSetting: appLocationSetting,
	}
}

// Execute executes the request
func (a *AppLocationSettingsAPIService) DeleteAppLocationSettingExecute(r AppLocationSettingsAPIDeleteAppLocationSettingRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppLocationSettingsAPIService.DeleteAppLocationSetting")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/app-location-settings/{appLocationSetting}"
	localVarPath = strings.Replace(localVarPath, "{"+"appLocationSetting"+"}", url.PathEscape(parameterValueToString(r.appLocationSetting, "appLocationSetting")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type AppLocationSettingsAPIGetAppLocationSettingByIdRequest struct {
	ctx context.Context
	ApiService *AppLocationSettingsAPIService
	appLocationSetting int32
}

func (r AppLocationSettingsAPIGetAppLocationSettingByIdRequest) Execute() (*AppLocationSetting, *http.Response, error) {
	return r.ApiService.GetAppLocationSettingByIdExecute(r)
}

/*
GetAppLocationSettingById Show a specific app location setting

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param appLocationSetting The app location setting ID
 @return AppLocationSettingsAPIGetAppLocationSettingByIdRequest
*/
func (a *AppLocationSettingsAPIService) GetAppLocationSettingById(ctx context.Context, appLocationSetting int32) AppLocationSettingsAPIGetAppLocationSettingByIdRequest {
	return AppLocationSettingsAPIGetAppLocationSettingByIdRequest{
		ApiService: a,
		ctx: ctx,
		appLocationSetting: appLocationSetting,
	}
}

// Execute executes the request
//  @return AppLocationSetting
func (a *AppLocationSettingsAPIService) GetAppLocationSettingByIdExecute(r AppLocationSettingsAPIGetAppLocationSettingByIdRequest) (*AppLocationSetting, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AppLocationSetting
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppLocationSettingsAPIService.GetAppLocationSettingById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/app-location-settings/{appLocationSetting}"
	localVarPath = strings.Replace(localVarPath, "{"+"appLocationSetting"+"}", url.PathEscape(parameterValueToString(r.appLocationSetting, "appLocationSetting")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AppLocationSettingsAPIGetAppLocationSettingsRequest struct {
	ctx context.Context
	ApiService *AppLocationSettingsAPIService
	app int32
	perPage *int32
	page *int32
	sort *[]string
	filterId *int32
	filterName *string
	filterNamePartial *string
	filterServerConfigId *int32
	filterNumInstances *int32
	filterStatus *string
	filterMaintenance *bool
	filterLocationCity *string
	filterLocationCityDisplay *string
	filterLocationContinent *string
	filterLocationCountry *string
	filterServerConfigName *string
	filterServerConfigCommand *string
	filterServerConfigArgs *string
	filterServerConfigNotes *string
	filterServerConfigStatus *string
	filterServerConfigMaintenance *bool
	filterServerConfigResourcePackageSlug *string
}

// The number of items to be shown per page.
func (r AppLocationSettingsAPIGetAppLocationSettingsRequest) PerPage(perPage int32) AppLocationSettingsAPIGetAppLocationSettingsRequest {
	r.perPage = &perPage
	return r
}

// Specifies the page number to retrieve in the paginated results.
func (r AppLocationSettingsAPIGetAppLocationSettingsRequest) Page(page int32) AppLocationSettingsAPIGetAppLocationSettingsRequest {
	r.page = &page
	return r
}

// Allows sorting of results. By default, sorting is in ascending order. To reverse the order, prepend the sort key with a hyphen (-).  **Simple Sort:** To sort by id in ascending order or by name in descending order:  &#x60;&#x60;&#x60; sort[]&#x3D;id sort[]&#x3D;-name &#x60;&#x60;&#x60;  **Multiple Sorts:** Combine multiple sorts by separating them with commas: &#x60;&#x60;&#x60; sort[]&#x3D;id&amp;sort[]&#x3D;-name &#x60;&#x60;&#x60;
func (r AppLocationSettingsAPIGetAppLocationSettingsRequest) Sort(sort []string) AppLocationSettingsAPIGetAppLocationSettingsRequest {
	r.sort = &sort
	return r
}

// Filter by id.
func (r AppLocationSettingsAPIGetAppLocationSettingsRequest) FilterId(filterId int32) AppLocationSettingsAPIGetAppLocationSettingsRequest {
	r.filterId = &filterId
	return r
}

// Filter by name.
func (r AppLocationSettingsAPIGetAppLocationSettingsRequest) FilterName(filterName string) AppLocationSettingsAPIGetAppLocationSettingsRequest {
	r.filterName = &filterName
	return r
}

// Filter by name using partial matching. For example, \&quot;ann\&quot; matches \&quot;Joanna\&quot; or \&quot;Annie\&quot;.
func (r AppLocationSettingsAPIGetAppLocationSettingsRequest) FilterNamePartial(filterNamePartial string) AppLocationSettingsAPIGetAppLocationSettingsRequest {
	r.filterNamePartial = &filterNamePartial
	return r
}

// Filter by ServerConfig ID.
func (r AppLocationSettingsAPIGetAppLocationSettingsRequest) FilterServerConfigId(filterServerConfigId int32) AppLocationSettingsAPIGetAppLocationSettingsRequest {
	r.filterServerConfigId = &filterServerConfigId
	return r
}

// Filter by number of instances.
func (r AppLocationSettingsAPIGetAppLocationSettingsRequest) FilterNumInstances(filterNumInstances int32) AppLocationSettingsAPIGetAppLocationSettingsRequest {
	r.filterNumInstances = &filterNumInstances
	return r
}

// Filter by status.
func (r AppLocationSettingsAPIGetAppLocationSettingsRequest) FilterStatus(filterStatus string) AppLocationSettingsAPIGetAppLocationSettingsRequest {
	r.filterStatus = &filterStatus
	return r
}

// Filter by maintenance.
func (r AppLocationSettingsAPIGetAppLocationSettingsRequest) FilterMaintenance(filterMaintenance bool) AppLocationSettingsAPIGetAppLocationSettingsRequest {
	r.filterMaintenance = &filterMaintenance
	return r
}

// Filter by location city.
func (r AppLocationSettingsAPIGetAppLocationSettingsRequest) FilterLocationCity(filterLocationCity string) AppLocationSettingsAPIGetAppLocationSettingsRequest {
	r.filterLocationCity = &filterLocationCity
	return r
}

// Filter by location city display name.
func (r AppLocationSettingsAPIGetAppLocationSettingsRequest) FilterLocationCityDisplay(filterLocationCityDisplay string) AppLocationSettingsAPIGetAppLocationSettingsRequest {
	r.filterLocationCityDisplay = &filterLocationCityDisplay
	return r
}

// Filter by location continent.
func (r AppLocationSettingsAPIGetAppLocationSettingsRequest) FilterLocationContinent(filterLocationContinent string) AppLocationSettingsAPIGetAppLocationSettingsRequest {
	r.filterLocationContinent = &filterLocationContinent
	return r
}

// Filter by location country.
func (r AppLocationSettingsAPIGetAppLocationSettingsRequest) FilterLocationCountry(filterLocationCountry string) AppLocationSettingsAPIGetAppLocationSettingsRequest {
	r.filterLocationCountry = &filterLocationCountry
	return r
}

// Filter by ServerConfig name.
func (r AppLocationSettingsAPIGetAppLocationSettingsRequest) FilterServerConfigName(filterServerConfigName string) AppLocationSettingsAPIGetAppLocationSettingsRequest {
	r.filterServerConfigName = &filterServerConfigName
	return r
}

// Filter by ServerConfig command.
func (r AppLocationSettingsAPIGetAppLocationSettingsRequest) FilterServerConfigCommand(filterServerConfigCommand string) AppLocationSettingsAPIGetAppLocationSettingsRequest {
	r.filterServerConfigCommand = &filterServerConfigCommand
	return r
}

// Filter by ServerConfig arguments.
func (r AppLocationSettingsAPIGetAppLocationSettingsRequest) FilterServerConfigArgs(filterServerConfigArgs string) AppLocationSettingsAPIGetAppLocationSettingsRequest {
	r.filterServerConfigArgs = &filterServerConfigArgs
	return r
}

// Filter by ServerConfig notes.
func (r AppLocationSettingsAPIGetAppLocationSettingsRequest) FilterServerConfigNotes(filterServerConfigNotes string) AppLocationSettingsAPIGetAppLocationSettingsRequest {
	r.filterServerConfigNotes = &filterServerConfigNotes
	return r
}

// Filter by ServerConfig status.
func (r AppLocationSettingsAPIGetAppLocationSettingsRequest) FilterServerConfigStatus(filterServerConfigStatus string) AppLocationSettingsAPIGetAppLocationSettingsRequest {
	r.filterServerConfigStatus = &filterServerConfigStatus
	return r
}

// Filter by ServerConfig maintenance.
func (r AppLocationSettingsAPIGetAppLocationSettingsRequest) FilterServerConfigMaintenance(filterServerConfigMaintenance bool) AppLocationSettingsAPIGetAppLocationSettingsRequest {
	r.filterServerConfigMaintenance = &filterServerConfigMaintenance
	return r
}

// Filter by ServerConfig resource package slug.
func (r AppLocationSettingsAPIGetAppLocationSettingsRequest) FilterServerConfigResourcePackageSlug(filterServerConfigResourcePackageSlug string) AppLocationSettingsAPIGetAppLocationSettingsRequest {
	r.filterServerConfigResourcePackageSlug = &filterServerConfigResourcePackageSlug
	return r
}

func (r AppLocationSettingsAPIGetAppLocationSettingsRequest) Execute() (*GetAppLocationSettings200Response, *http.Response, error) {
	return r.ApiService.GetAppLocationSettingsExecute(r)
}

/*
GetAppLocationSettings Show all location settings

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param app The app ID
 @return AppLocationSettingsAPIGetAppLocationSettingsRequest
*/
func (a *AppLocationSettingsAPIService) GetAppLocationSettings(ctx context.Context, app int32) AppLocationSettingsAPIGetAppLocationSettingsRequest {
	return AppLocationSettingsAPIGetAppLocationSettingsRequest{
		ApiService: a,
		ctx: ctx,
		app: app,
	}
}

// Execute executes the request
//  @return GetAppLocationSettings200Response
func (a *AppLocationSettingsAPIService) GetAppLocationSettingsExecute(r AppLocationSettingsAPIGetAppLocationSettingsRequest) (*GetAppLocationSettings200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetAppLocationSettings200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppLocationSettingsAPIService.GetAppLocationSettings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/apps/{app}/location-settings"
	localVarPath = strings.Replace(localVarPath, "{"+"app"+"}", url.PathEscape(parameterValueToString(r.app, "app")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "perPage", r.perPage, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.sort != nil {
		t := *r.sort
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sort[]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sort[]", t, "form", "multi")
		}
	}
	if r.filterId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[id]", r.filterId, "form", "")
	}
	if r.filterName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[name]", r.filterName, "form", "")
	}
	if r.filterNamePartial != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[namePartial]", r.filterNamePartial, "form", "")
	}
	if r.filterServerConfigId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[serverConfigId]", r.filterServerConfigId, "form", "")
	}
	if r.filterNumInstances != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[numInstances]", r.filterNumInstances, "form", "")
	}
	if r.filterStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[status]", r.filterStatus, "form", "")
	}
	if r.filterMaintenance != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[maintenance]", r.filterMaintenance, "form", "")
	}
	if r.filterLocationCity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[locationCity]", r.filterLocationCity, "form", "")
	}
	if r.filterLocationCityDisplay != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[locationCityDisplay]", r.filterLocationCityDisplay, "form", "")
	}
	if r.filterLocationContinent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[locationContinent]", r.filterLocationContinent, "form", "")
	}
	if r.filterLocationCountry != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[locationCountry]", r.filterLocationCountry, "form", "")
	}
	if r.filterServerConfigName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[serverConfigName]", r.filterServerConfigName, "form", "")
	}
	if r.filterServerConfigCommand != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[serverConfigCommand]", r.filterServerConfigCommand, "form", "")
	}
	if r.filterServerConfigArgs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[serverConfigArgs]", r.filterServerConfigArgs, "form", "")
	}
	if r.filterServerConfigNotes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[serverConfigNotes]", r.filterServerConfigNotes, "form", "")
	}
	if r.filterServerConfigStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[serverConfigStatus]", r.filterServerConfigStatus, "form", "")
	}
	if r.filterServerConfigMaintenance != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[serverConfigMaintenance]", r.filterServerConfigMaintenance, "form", "")
	}
	if r.filterServerConfigResourcePackageSlug != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[serverConfigResourcePackageSlug]", r.filterServerConfigResourcePackageSlug, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v InlineObject1
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AppLocationSettingsAPIListServicesForAppLocationSettingRequest struct {
	ctx context.Context
	ApiService *AppLocationSettingsAPIService
	app int32
	appLocationSetting int32
}

func (r AppLocationSettingsAPIListServicesForAppLocationSettingRequest) Execute() ([]Server, *http.Response, error) {
	return r.ApiService.ListServicesForAppLocationSettingExecute(r)
}

/*
ListServicesForAppLocationSetting Show all services for a specific app location setting within a given app

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param app The app ID
 @param appLocationSetting The app location setting ID
 @return AppLocationSettingsAPIListServicesForAppLocationSettingRequest
*/
func (a *AppLocationSettingsAPIService) ListServicesForAppLocationSetting(ctx context.Context, app int32, appLocationSetting int32) AppLocationSettingsAPIListServicesForAppLocationSettingRequest {
	return AppLocationSettingsAPIListServicesForAppLocationSettingRequest{
		ApiService: a,
		ctx: ctx,
		app: app,
		appLocationSetting: appLocationSetting,
	}
}

// Execute executes the request
//  @return []Server
func (a *AppLocationSettingsAPIService) ListServicesForAppLocationSettingExecute(r AppLocationSettingsAPIListServicesForAppLocationSettingRequest) ([]Server, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []Server
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppLocationSettingsAPIService.ListServicesForAppLocationSetting")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/apps/{app}/location-settings/{appLocationSetting}/services"
	localVarPath = strings.Replace(localVarPath, "{"+"app"+"}", url.PathEscape(parameterValueToString(r.app, "app")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"appLocationSetting"+"}", url.PathEscape(parameterValueToString(r.appLocationSetting, "appLocationSetting")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AppLocationSettingsAPIStartServersForAppLocationSettingRequest struct {
	ctx context.Context
	ApiService *AppLocationSettingsAPIService
	appLocationSetting int32
}

func (r AppLocationSettingsAPIStartServersForAppLocationSettingRequest) Execute() (*http.Response, error) {
	return r.ApiService.StartServersForAppLocationSettingExecute(r)
}

/*
StartServersForAppLocationSetting Start all services related to a specific app location setting

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param appLocationSetting The app location setting ID
 @return AppLocationSettingsAPIStartServersForAppLocationSettingRequest
*/
func (a *AppLocationSettingsAPIService) StartServersForAppLocationSetting(ctx context.Context, appLocationSetting int32) AppLocationSettingsAPIStartServersForAppLocationSettingRequest {
	return AppLocationSettingsAPIStartServersForAppLocationSettingRequest{
		ApiService: a,
		ctx: ctx,
		appLocationSetting: appLocationSetting,
	}
}

// Execute executes the request
func (a *AppLocationSettingsAPIService) StartServersForAppLocationSettingExecute(r AppLocationSettingsAPIStartServersForAppLocationSettingRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppLocationSettingsAPIService.StartServersForAppLocationSetting")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/app-location-settings/{appLocationSetting}/services/start"
	localVarPath = strings.Replace(localVarPath, "{"+"appLocationSetting"+"}", url.PathEscape(parameterValueToString(r.appLocationSetting, "appLocationSetting")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type AppLocationSettingsAPIStopServersForAppLocationSettingRequest struct {
	ctx context.Context
	ApiService *AppLocationSettingsAPIService
	appLocationSetting int32
}

func (r AppLocationSettingsAPIStopServersForAppLocationSettingRequest) Execute() (*http.Response, error) {
	return r.ApiService.StopServersForAppLocationSettingExecute(r)
}

/*
StopServersForAppLocationSetting Stop all services related to a specific app location setting

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param appLocationSetting The app location setting ID
 @return AppLocationSettingsAPIStopServersForAppLocationSettingRequest
*/
func (a *AppLocationSettingsAPIService) StopServersForAppLocationSetting(ctx context.Context, appLocationSetting int32) AppLocationSettingsAPIStopServersForAppLocationSettingRequest {
	return AppLocationSettingsAPIStopServersForAppLocationSettingRequest{
		ApiService: a,
		ctx: ctx,
		appLocationSetting: appLocationSetting,
	}
}

// Execute executes the request
func (a *AppLocationSettingsAPIService) StopServersForAppLocationSettingExecute(r AppLocationSettingsAPIStopServersForAppLocationSettingRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppLocationSettingsAPIService.StopServersForAppLocationSetting")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/app-location-settings/{appLocationSetting}/services/stop"
	localVarPath = strings.Replace(localVarPath, "{"+"appLocationSetting"+"}", url.PathEscape(parameterValueToString(r.appLocationSetting, "appLocationSetting")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type AppLocationSettingsAPIUpdateAppLocationSettingRequest struct {
	ctx context.Context
	ApiService *AppLocationSettingsAPIService
	appLocationSetting int32
	updateAppLocationSettingRequest *UpdateAppLocationSettingRequest
}

func (r AppLocationSettingsAPIUpdateAppLocationSettingRequest) UpdateAppLocationSettingRequest(updateAppLocationSettingRequest UpdateAppLocationSettingRequest) AppLocationSettingsAPIUpdateAppLocationSettingRequest {
	r.updateAppLocationSettingRequest = &updateAppLocationSettingRequest
	return r
}

func (r AppLocationSettingsAPIUpdateAppLocationSettingRequest) Execute() (*AppLocationSetting, *http.Response, error) {
	return r.ApiService.UpdateAppLocationSettingExecute(r)
}

/*
UpdateAppLocationSetting Update a location setting

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param appLocationSetting The app location setting ID
 @return AppLocationSettingsAPIUpdateAppLocationSettingRequest
*/
func (a *AppLocationSettingsAPIService) UpdateAppLocationSetting(ctx context.Context, appLocationSetting int32) AppLocationSettingsAPIUpdateAppLocationSettingRequest {
	return AppLocationSettingsAPIUpdateAppLocationSettingRequest{
		ApiService: a,
		ctx: ctx,
		appLocationSetting: appLocationSetting,
	}
}

// Execute executes the request
//  @return AppLocationSetting
func (a *AppLocationSettingsAPIService) UpdateAppLocationSettingExecute(r AppLocationSettingsAPIUpdateAppLocationSettingRequest) (*AppLocationSetting, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AppLocationSetting
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppLocationSettingsAPIService.UpdateAppLocationSetting")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/app-location-settings/{appLocationSetting}"
	localVarPath = strings.Replace(localVarPath, "{"+"appLocationSetting"+"}", url.PathEscape(parameterValueToString(r.appLocationSetting, "appLocationSetting")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateAppLocationSettingRequest == nil {
		return localVarReturnValue, nil, reportError("updateAppLocationSettingRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateAppLocationSettingRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v InlineObject1
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}