/*
ODIN Fleet API

API to access Odin Fleet, empowering developers to deploy gameservers all around the world in just a few lines of code.  To authenticate, users must send their email, password, and session ID to the **[`/api/auth`](/operations/getAuthToken)** endpoint. Upon successful authentication, an API token will be provided. This token should be included in the `Authorization` header as a Bearer token for all subsequent requests.      Alternatively, you can copy your API key directly from our **[`console`](https://console.4players.io)** by opening any app, and then going to **Settings -> API Keys**.

API version: 0.9.2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"strings"
)


// ResourcePackageAPIService ResourcePackageAPI service
type ResourcePackageAPIService service

type ResourcePackageAPIGetResourcePackageByIdRequest struct {
	ctx context.Context
	ApiService *ResourcePackageAPIService
	resourcePackage int32
}

func (r ResourcePackageAPIGetResourcePackageByIdRequest) Execute() (*ResourcePackage, *http.Response, error) {
	return r.ApiService.GetResourcePackageByIdExecute(r)
}

/*
GetResourcePackageById Show a specified resource package

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param resourcePackage The resource package ID
 @return ResourcePackageAPIGetResourcePackageByIdRequest
*/
func (a *ResourcePackageAPIService) GetResourcePackageById(ctx context.Context, resourcePackage int32) ResourcePackageAPIGetResourcePackageByIdRequest {
	return ResourcePackageAPIGetResourcePackageByIdRequest{
		ApiService: a,
		ctx: ctx,
		resourcePackage: resourcePackage,
	}
}

// Execute executes the request
//  @return ResourcePackage
func (a *ResourcePackageAPIService) GetResourcePackageByIdExecute(r ResourcePackageAPIGetResourcePackageByIdRequest) (*ResourcePackage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResourcePackage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResourcePackageAPIService.GetResourcePackageById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/resource-packages/{resourcePackage}"
	localVarPath = strings.Replace(localVarPath, "{"+"resourcePackage"+"}", url.PathEscape(parameterValueToString(r.resourcePackage, "resourcePackage")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ResourcePackageAPIGetResourcePackagesRequest struct {
	ctx context.Context
	ApiService *ResourcePackageAPIService
	perPage *int32
	page *int32
	sort *[]string
	filterId *int32
	filterName *string
	filterNamePartial *string
	filterSlug *string
	filterType *string
	filterCpuLimit *int32
	filterMemoryLimitMiB *int32
}

// The number of items to be shown per page.
func (r ResourcePackageAPIGetResourcePackagesRequest) PerPage(perPage int32) ResourcePackageAPIGetResourcePackagesRequest {
	r.perPage = &perPage
	return r
}

// Specifies the page number to retrieve in the paginated results.
func (r ResourcePackageAPIGetResourcePackagesRequest) Page(page int32) ResourcePackageAPIGetResourcePackagesRequest {
	r.page = &page
	return r
}

// Allows sorting of results. By default, sorting is in ascending order. To reverse the order, prepend the sort key with a hyphen (-).  **Simple Sort:** To sort by id in ascending order or by name in descending order:  &#x60;&#x60;&#x60; sort[]&#x3D;id sort[]&#x3D;-name &#x60;&#x60;&#x60;  **Multiple Sorts:** Combine multiple sorts by separating them with commas: &#x60;&#x60;&#x60; sort[]&#x3D;id&amp;sort[]&#x3D;-name &#x60;&#x60;&#x60;
func (r ResourcePackageAPIGetResourcePackagesRequest) Sort(sort []string) ResourcePackageAPIGetResourcePackagesRequest {
	r.sort = &sort
	return r
}

// Filter by id.
func (r ResourcePackageAPIGetResourcePackagesRequest) FilterId(filterId int32) ResourcePackageAPIGetResourcePackagesRequest {
	r.filterId = &filterId
	return r
}

// Filter by name.
func (r ResourcePackageAPIGetResourcePackagesRequest) FilterName(filterName string) ResourcePackageAPIGetResourcePackagesRequest {
	r.filterName = &filterName
	return r
}

// Filter by name using partial matching. For example, \&quot;ann\&quot; matches \&quot;Joanna\&quot; or \&quot;Annie\&quot;.
func (r ResourcePackageAPIGetResourcePackagesRequest) FilterNamePartial(filterNamePartial string) ResourcePackageAPIGetResourcePackagesRequest {
	r.filterNamePartial = &filterNamePartial
	return r
}

// Filter by slug.
func (r ResourcePackageAPIGetResourcePackagesRequest) FilterSlug(filterSlug string) ResourcePackageAPIGetResourcePackagesRequest {
	r.filterSlug = &filterSlug
	return r
}

// Filter by type.
func (r ResourcePackageAPIGetResourcePackagesRequest) FilterType(filterType string) ResourcePackageAPIGetResourcePackagesRequest {
	r.filterType = &filterType
	return r
}

// Filter by CPU limit. Maps to the &#x60;cpu_limit&#x60; column.
func (r ResourcePackageAPIGetResourcePackagesRequest) FilterCpuLimit(filterCpuLimit int32) ResourcePackageAPIGetResourcePackagesRequest {
	r.filterCpuLimit = &filterCpuLimit
	return r
}

// Filter by memory limit in MiB. Maps to the &#x60;memory_limit_mebibytes&#x60; column.
func (r ResourcePackageAPIGetResourcePackagesRequest) FilterMemoryLimitMiB(filterMemoryLimitMiB int32) ResourcePackageAPIGetResourcePackagesRequest {
	r.filterMemoryLimitMiB = &filterMemoryLimitMiB
	return r
}

func (r ResourcePackageAPIGetResourcePackagesRequest) Execute() (*GetResourcePackages200Response, *http.Response, error) {
	return r.ApiService.GetResourcePackagesExecute(r)
}

/*
GetResourcePackages Show all available resource packages

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ResourcePackageAPIGetResourcePackagesRequest
*/
func (a *ResourcePackageAPIService) GetResourcePackages(ctx context.Context) ResourcePackageAPIGetResourcePackagesRequest {
	return ResourcePackageAPIGetResourcePackagesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetResourcePackages200Response
func (a *ResourcePackageAPIService) GetResourcePackagesExecute(r ResourcePackageAPIGetResourcePackagesRequest) (*GetResourcePackages200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetResourcePackages200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ResourcePackageAPIService.GetResourcePackages")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/resource-packages"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "perPage", r.perPage, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.sort != nil {
		t := *r.sort
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sort[]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sort[]", t, "form", "multi")
		}
	}
	if r.filterId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[id]", r.filterId, "form", "")
	}
	if r.filterName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[name]", r.filterName, "form", "")
	}
	if r.filterNamePartial != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[namePartial]", r.filterNamePartial, "form", "")
	}
	if r.filterSlug != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[slug]", r.filterSlug, "form", "")
	}
	if r.filterType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[type]", r.filterType, "form", "")
	}
	if r.filterCpuLimit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[cpuLimit]", r.filterCpuLimit, "form", "")
	}
	if r.filterMemoryLimitMiB != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[memoryLimitMiB]", r.filterMemoryLimitMiB, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v InlineObject1
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}