/*
ODIN Fleet API

API to access Odin Fleet, empowering developers to deploy gameservers all around the world in just a few lines of code.  To authenticate, users must send their email, password, and session ID to the **[`/api/auth`](/operations/getAuthToken)** endpoint. Upon successful authentication, an API token will be provided. This token should be included in the `Authorization` header as a Bearer token for all subsequent requests.      Alternatively, you can copy your API key directly from our **[`console`](https://console.4players.io)** by opening any app, and then going to **Settings -> API Keys**.

API version: 0.9.2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"strings"
)


// AppLocationSettingAPIService AppLocationSettingAPI service
type AppLocationSettingAPIService service

type AppLocationSettingAPICreateAppLocationSettingRequest struct {
	ctx context.Context
	ApiService *AppLocationSettingAPIService
	app int32
	storeAppLocationSettingRequest *StoreAppLocationSettingRequest
}

func (r AppLocationSettingAPICreateAppLocationSettingRequest) StoreAppLocationSettingRequest(storeAppLocationSettingRequest StoreAppLocationSettingRequest) AppLocationSettingAPICreateAppLocationSettingRequest {
	r.storeAppLocationSettingRequest = &storeAppLocationSettingRequest
	return r
}

func (r AppLocationSettingAPICreateAppLocationSettingRequest) Execute() (*AppLocationSetting, *http.Response, error) {
	return r.ApiService.CreateAppLocationSettingExecute(r)
}

/*
CreateAppLocationSetting Create a new location setting

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param app The app ID
 @return AppLocationSettingAPICreateAppLocationSettingRequest
*/
func (a *AppLocationSettingAPIService) CreateAppLocationSetting(ctx context.Context, app int32) AppLocationSettingAPICreateAppLocationSettingRequest {
	return AppLocationSettingAPICreateAppLocationSettingRequest{
		ApiService: a,
		ctx: ctx,
		app: app,
	}
}

// Execute executes the request
//  @return AppLocationSetting
func (a *AppLocationSettingAPIService) CreateAppLocationSettingExecute(r AppLocationSettingAPICreateAppLocationSettingRequest) (*AppLocationSetting, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AppLocationSetting
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppLocationSettingAPIService.CreateAppLocationSetting")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/apps/{app}/location-settings"
	localVarPath = strings.Replace(localVarPath, "{"+"app"+"}", url.PathEscape(parameterValueToString(r.app, "app")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.storeAppLocationSettingRequest == nil {
		return localVarReturnValue, nil, reportError("storeAppLocationSettingRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.storeAppLocationSettingRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v InlineObject1
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AppLocationSettingAPIDeleteAppLocationSettingRequest struct {
	ctx context.Context
	ApiService *AppLocationSettingAPIService
	appLocationSetting int32
}

func (r AppLocationSettingAPIDeleteAppLocationSettingRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteAppLocationSettingExecute(r)
}

/*
DeleteAppLocationSetting Delete a location setting

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param appLocationSetting The app location setting ID
 @return AppLocationSettingAPIDeleteAppLocationSettingRequest
*/
func (a *AppLocationSettingAPIService) DeleteAppLocationSetting(ctx context.Context, appLocationSetting int32) AppLocationSettingAPIDeleteAppLocationSettingRequest {
	return AppLocationSettingAPIDeleteAppLocationSettingRequest{
		ApiService: a,
		ctx: ctx,
		appLocationSetting: appLocationSetting,
	}
}

// Execute executes the request
func (a *AppLocationSettingAPIService) DeleteAppLocationSettingExecute(r AppLocationSettingAPIDeleteAppLocationSettingRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppLocationSettingAPIService.DeleteAppLocationSetting")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/app-location-settings/{appLocationSetting}"
	localVarPath = strings.Replace(localVarPath, "{"+"appLocationSetting"+"}", url.PathEscape(parameterValueToString(r.appLocationSetting, "appLocationSetting")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type AppLocationSettingAPIGetAppLocationSettingByIdRequest struct {
	ctx context.Context
	ApiService *AppLocationSettingAPIService
	appLocationSetting int32
}

func (r AppLocationSettingAPIGetAppLocationSettingByIdRequest) Execute() (*AppLocationSetting, *http.Response, error) {
	return r.ApiService.GetAppLocationSettingByIdExecute(r)
}

/*
GetAppLocationSettingById Show a specific app location setting

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param appLocationSetting The app location setting ID
 @return AppLocationSettingAPIGetAppLocationSettingByIdRequest
*/
func (a *AppLocationSettingAPIService) GetAppLocationSettingById(ctx context.Context, appLocationSetting int32) AppLocationSettingAPIGetAppLocationSettingByIdRequest {
	return AppLocationSettingAPIGetAppLocationSettingByIdRequest{
		ApiService: a,
		ctx: ctx,
		appLocationSetting: appLocationSetting,
	}
}

// Execute executes the request
//  @return AppLocationSetting
func (a *AppLocationSettingAPIService) GetAppLocationSettingByIdExecute(r AppLocationSettingAPIGetAppLocationSettingByIdRequest) (*AppLocationSetting, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AppLocationSetting
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppLocationSettingAPIService.GetAppLocationSettingById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/app-location-settings/{appLocationSetting}"
	localVarPath = strings.Replace(localVarPath, "{"+"appLocationSetting"+"}", url.PathEscape(parameterValueToString(r.appLocationSetting, "appLocationSetting")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AppLocationSettingAPIGetAppLocationSettingsRequest struct {
	ctx context.Context
	ApiService *AppLocationSettingAPIService
	app int32
	perPage *int32
	page *int32
	sort *[]string
	filterId *int32
	filterName *string
	filterNamePartial *string
	filterServerConfigId *int32
	filterNumInstances *int32
	filterStatus *string
	filterMaintenance *bool
	filterLocationCity *string
	filterLocationCityDisplay *string
	filterLocationContinent *string
	filterLocationCountry *string
	filterServerConfigName *string
	filterServerConfigCommand *string
	filterServerConfigArgs *string
	filterServerConfigNotes *string
	filterServerConfigStatus *string
	filterServerConfigMaintenance *bool
	filterServerConfigResourcePackageSlug *string
}

// The number of items to be shown per page.
func (r AppLocationSettingAPIGetAppLocationSettingsRequest) PerPage(perPage int32) AppLocationSettingAPIGetAppLocationSettingsRequest {
	r.perPage = &perPage
	return r
}

// Specifies the page number to retrieve in the paginated results.
func (r AppLocationSettingAPIGetAppLocationSettingsRequest) Page(page int32) AppLocationSettingAPIGetAppLocationSettingsRequest {
	r.page = &page
	return r
}

// Allows sorting of results. By default, sorting is in ascending order. To reverse the order, prepend the sort key with a hyphen (-).  **Simple Sort:** To sort by id in ascending order or by name in descending order:  &#x60;&#x60;&#x60; sort[]&#x3D;id sort[]&#x3D;-name &#x60;&#x60;&#x60;  **Multiple Sorts:** Combine multiple sorts by separating them with commas: &#x60;&#x60;&#x60; sort[]&#x3D;id&amp;sort[]&#x3D;-name &#x60;&#x60;&#x60;
func (r AppLocationSettingAPIGetAppLocationSettingsRequest) Sort(sort []string) AppLocationSettingAPIGetAppLocationSettingsRequest {
	r.sort = &sort
	return r
}

// Filter by id.
func (r AppLocationSettingAPIGetAppLocationSettingsRequest) FilterId(filterId int32) AppLocationSettingAPIGetAppLocationSettingsRequest {
	r.filterId = &filterId
	return r
}

// Filter by name.
func (r AppLocationSettingAPIGetAppLocationSettingsRequest) FilterName(filterName string) AppLocationSettingAPIGetAppLocationSettingsRequest {
	r.filterName = &filterName
	return r
}

// Filter by name using partial matching. For example, \&quot;ann\&quot; matches \&quot;Joanna\&quot; or \&quot;Annie\&quot;.
func (r AppLocationSettingAPIGetAppLocationSettingsRequest) FilterNamePartial(filterNamePartial string) AppLocationSettingAPIGetAppLocationSettingsRequest {
	r.filterNamePartial = &filterNamePartial
	return r
}

// Filter by ServerConfig ID.
func (r AppLocationSettingAPIGetAppLocationSettingsRequest) FilterServerConfigId(filterServerConfigId int32) AppLocationSettingAPIGetAppLocationSettingsRequest {
	r.filterServerConfigId = &filterServerConfigId
	return r
}

// Filter by number of instances.
func (r AppLocationSettingAPIGetAppLocationSettingsRequest) FilterNumInstances(filterNumInstances int32) AppLocationSettingAPIGetAppLocationSettingsRequest {
	r.filterNumInstances = &filterNumInstances
	return r
}

// Filter by status.
func (r AppLocationSettingAPIGetAppLocationSettingsRequest) FilterStatus(filterStatus string) AppLocationSettingAPIGetAppLocationSettingsRequest {
	r.filterStatus = &filterStatus
	return r
}

// Filter by maintenance.
func (r AppLocationSettingAPIGetAppLocationSettingsRequest) FilterMaintenance(filterMaintenance bool) AppLocationSettingAPIGetAppLocationSettingsRequest {
	r.filterMaintenance = &filterMaintenance
	return r
}

// Filter by location city.
func (r AppLocationSettingAPIGetAppLocationSettingsRequest) FilterLocationCity(filterLocationCity string) AppLocationSettingAPIGetAppLocationSettingsRequest {
	r.filterLocationCity = &filterLocationCity
	return r
}

// Filter by location city display name.
func (r AppLocationSettingAPIGetAppLocationSettingsRequest) FilterLocationCityDisplay(filterLocationCityDisplay string) AppLocationSettingAPIGetAppLocationSettingsRequest {
	r.filterLocationCityDisplay = &filterLocationCityDisplay
	return r
}

// Filter by location continent.
func (r AppLocationSettingAPIGetAppLocationSettingsRequest) FilterLocationContinent(filterLocationContinent string) AppLocationSettingAPIGetAppLocationSettingsRequest {
	r.filterLocationContinent = &filterLocationContinent
	return r
}

// Filter by location country.
func (r AppLocationSettingAPIGetAppLocationSettingsRequest) FilterLocationCountry(filterLocationCountry string) AppLocationSettingAPIGetAppLocationSettingsRequest {
	r.filterLocationCountry = &filterLocationCountry
	return r
}

// Filter by ServerConfig name.
func (r AppLocationSettingAPIGetAppLocationSettingsRequest) FilterServerConfigName(filterServerConfigName string) AppLocationSettingAPIGetAppLocationSettingsRequest {
	r.filterServerConfigName = &filterServerConfigName
	return r
}

// Filter by ServerConfig command.
func (r AppLocationSettingAPIGetAppLocationSettingsRequest) FilterServerConfigCommand(filterServerConfigCommand string) AppLocationSettingAPIGetAppLocationSettingsRequest {
	r.filterServerConfigCommand = &filterServerConfigCommand
	return r
}

// Filter by ServerConfig arguments.
func (r AppLocationSettingAPIGetAppLocationSettingsRequest) FilterServerConfigArgs(filterServerConfigArgs string) AppLocationSettingAPIGetAppLocationSettingsRequest {
	r.filterServerConfigArgs = &filterServerConfigArgs
	return r
}

// Filter by ServerConfig notes.
func (r AppLocationSettingAPIGetAppLocationSettingsRequest) FilterServerConfigNotes(filterServerConfigNotes string) AppLocationSettingAPIGetAppLocationSettingsRequest {
	r.filterServerConfigNotes = &filterServerConfigNotes
	return r
}

// Filter by ServerConfig status.
func (r AppLocationSettingAPIGetAppLocationSettingsRequest) FilterServerConfigStatus(filterServerConfigStatus string) AppLocationSettingAPIGetAppLocationSettingsRequest {
	r.filterServerConfigStatus = &filterServerConfigStatus
	return r
}

// Filter by ServerConfig maintenance.
func (r AppLocationSettingAPIGetAppLocationSettingsRequest) FilterServerConfigMaintenance(filterServerConfigMaintenance bool) AppLocationSettingAPIGetAppLocationSettingsRequest {
	r.filterServerConfigMaintenance = &filterServerConfigMaintenance
	return r
}

// Filter by ServerConfig resource package slug.
func (r AppLocationSettingAPIGetAppLocationSettingsRequest) FilterServerConfigResourcePackageSlug(filterServerConfigResourcePackageSlug string) AppLocationSettingAPIGetAppLocationSettingsRequest {
	r.filterServerConfigResourcePackageSlug = &filterServerConfigResourcePackageSlug
	return r
}

func (r AppLocationSettingAPIGetAppLocationSettingsRequest) Execute() (*GetAppLocationSettings200Response, *http.Response, error) {
	return r.ApiService.GetAppLocationSettingsExecute(r)
}

/*
GetAppLocationSettings Show all location settings

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param app The app ID
 @return AppLocationSettingAPIGetAppLocationSettingsRequest
*/
func (a *AppLocationSettingAPIService) GetAppLocationSettings(ctx context.Context, app int32) AppLocationSettingAPIGetAppLocationSettingsRequest {
	return AppLocationSettingAPIGetAppLocationSettingsRequest{
		ApiService: a,
		ctx: ctx,
		app: app,
	}
}

// Execute executes the request
//  @return GetAppLocationSettings200Response
func (a *AppLocationSettingAPIService) GetAppLocationSettingsExecute(r AppLocationSettingAPIGetAppLocationSettingsRequest) (*GetAppLocationSettings200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetAppLocationSettings200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppLocationSettingAPIService.GetAppLocationSettings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/apps/{app}/location-settings"
	localVarPath = strings.Replace(localVarPath, "{"+"app"+"}", url.PathEscape(parameterValueToString(r.app, "app")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "perPage", r.perPage, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.sort != nil {
		t := *r.sort
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sort[]", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sort[]", t, "form", "multi")
		}
	}
	if r.filterId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[id]", r.filterId, "form", "")
	}
	if r.filterName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[name]", r.filterName, "form", "")
	}
	if r.filterNamePartial != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[namePartial]", r.filterNamePartial, "form", "")
	}
	if r.filterServerConfigId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[serverConfigId]", r.filterServerConfigId, "form", "")
	}
	if r.filterNumInstances != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[numInstances]", r.filterNumInstances, "form", "")
	}
	if r.filterStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[status]", r.filterStatus, "form", "")
	}
	if r.filterMaintenance != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[maintenance]", r.filterMaintenance, "form", "")
	}
	if r.filterLocationCity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[locationCity]", r.filterLocationCity, "form", "")
	}
	if r.filterLocationCityDisplay != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[locationCityDisplay]", r.filterLocationCityDisplay, "form", "")
	}
	if r.filterLocationContinent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[locationContinent]", r.filterLocationContinent, "form", "")
	}
	if r.filterLocationCountry != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[locationCountry]", r.filterLocationCountry, "form", "")
	}
	if r.filterServerConfigName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[serverConfigName]", r.filterServerConfigName, "form", "")
	}
	if r.filterServerConfigCommand != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[serverConfigCommand]", r.filterServerConfigCommand, "form", "")
	}
	if r.filterServerConfigArgs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[serverConfigArgs]", r.filterServerConfigArgs, "form", "")
	}
	if r.filterServerConfigNotes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[serverConfigNotes]", r.filterServerConfigNotes, "form", "")
	}
	if r.filterServerConfigStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[serverConfigStatus]", r.filterServerConfigStatus, "form", "")
	}
	if r.filterServerConfigMaintenance != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[serverConfigMaintenance]", r.filterServerConfigMaintenance, "form", "")
	}
	if r.filterServerConfigResourcePackageSlug != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter[serverConfigResourcePackageSlug]", r.filterServerConfigResourcePackageSlug, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v InlineObject1
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AppLocationSettingAPIListServicesForAppLocationSettingRequest struct {
	ctx context.Context
	ApiService *AppLocationSettingAPIService
	app int32
	appLocationSetting int32
}

func (r AppLocationSettingAPIListServicesForAppLocationSettingRequest) Execute() ([]Server, *http.Response, error) {
	return r.ApiService.ListServicesForAppLocationSettingExecute(r)
}

/*
ListServicesForAppLocationSetting Show all services for a specific app location setting within a given app

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param app The app ID
 @param appLocationSetting The app location setting ID
 @return AppLocationSettingAPIListServicesForAppLocationSettingRequest
*/
func (a *AppLocationSettingAPIService) ListServicesForAppLocationSetting(ctx context.Context, app int32, appLocationSetting int32) AppLocationSettingAPIListServicesForAppLocationSettingRequest {
	return AppLocationSettingAPIListServicesForAppLocationSettingRequest{
		ApiService: a,
		ctx: ctx,
		app: app,
		appLocationSetting: appLocationSetting,
	}
}

// Execute executes the request
//  @return []Server
func (a *AppLocationSettingAPIService) ListServicesForAppLocationSettingExecute(r AppLocationSettingAPIListServicesForAppLocationSettingRequest) ([]Server, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []Server
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppLocationSettingAPIService.ListServicesForAppLocationSetting")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/apps/{app}/location-settings/{appLocationSetting}/services"
	localVarPath = strings.Replace(localVarPath, "{"+"app"+"}", url.PathEscape(parameterValueToString(r.app, "app")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"appLocationSetting"+"}", url.PathEscape(parameterValueToString(r.appLocationSetting, "appLocationSetting")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AppLocationSettingAPIStartServersForAppLocationSettingRequest struct {
	ctx context.Context
	ApiService *AppLocationSettingAPIService
	appLocationSetting int32
}

func (r AppLocationSettingAPIStartServersForAppLocationSettingRequest) Execute() (*http.Response, error) {
	return r.ApiService.StartServersForAppLocationSettingExecute(r)
}

/*
StartServersForAppLocationSetting Start all services related to a specific app location setting

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param appLocationSetting The app location setting ID
 @return AppLocationSettingAPIStartServersForAppLocationSettingRequest
*/
func (a *AppLocationSettingAPIService) StartServersForAppLocationSetting(ctx context.Context, appLocationSetting int32) AppLocationSettingAPIStartServersForAppLocationSettingRequest {
	return AppLocationSettingAPIStartServersForAppLocationSettingRequest{
		ApiService: a,
		ctx: ctx,
		appLocationSetting: appLocationSetting,
	}
}

// Execute executes the request
func (a *AppLocationSettingAPIService) StartServersForAppLocationSettingExecute(r AppLocationSettingAPIStartServersForAppLocationSettingRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppLocationSettingAPIService.StartServersForAppLocationSetting")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/app-location-settings/{appLocationSetting}/services/start"
	localVarPath = strings.Replace(localVarPath, "{"+"appLocationSetting"+"}", url.PathEscape(parameterValueToString(r.appLocationSetting, "appLocationSetting")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type AppLocationSettingAPIStopServersForAppLocationSettingRequest struct {
	ctx context.Context
	ApiService *AppLocationSettingAPIService
	appLocationSetting int32
}

func (r AppLocationSettingAPIStopServersForAppLocationSettingRequest) Execute() (*http.Response, error) {
	return r.ApiService.StopServersForAppLocationSettingExecute(r)
}

/*
StopServersForAppLocationSetting Stop all services related to a specific app location setting

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param appLocationSetting The app location setting ID
 @return AppLocationSettingAPIStopServersForAppLocationSettingRequest
*/
func (a *AppLocationSettingAPIService) StopServersForAppLocationSetting(ctx context.Context, appLocationSetting int32) AppLocationSettingAPIStopServersForAppLocationSettingRequest {
	return AppLocationSettingAPIStopServersForAppLocationSettingRequest{
		ApiService: a,
		ctx: ctx,
		appLocationSetting: appLocationSetting,
	}
}

// Execute executes the request
func (a *AppLocationSettingAPIService) StopServersForAppLocationSettingExecute(r AppLocationSettingAPIStopServersForAppLocationSettingRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppLocationSettingAPIService.StopServersForAppLocationSetting")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/app-location-settings/{appLocationSetting}/services/stop"
	localVarPath = strings.Replace(localVarPath, "{"+"appLocationSetting"+"}", url.PathEscape(parameterValueToString(r.appLocationSetting, "appLocationSetting")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type AppLocationSettingAPIUpdateAppLocationSettingRequest struct {
	ctx context.Context
	ApiService *AppLocationSettingAPIService
	appLocationSetting int32
	updateAppLocationSettingRequest *UpdateAppLocationSettingRequest
}

func (r AppLocationSettingAPIUpdateAppLocationSettingRequest) UpdateAppLocationSettingRequest(updateAppLocationSettingRequest UpdateAppLocationSettingRequest) AppLocationSettingAPIUpdateAppLocationSettingRequest {
	r.updateAppLocationSettingRequest = &updateAppLocationSettingRequest
	return r
}

func (r AppLocationSettingAPIUpdateAppLocationSettingRequest) Execute() (*AppLocationSetting, *http.Response, error) {
	return r.ApiService.UpdateAppLocationSettingExecute(r)
}

/*
UpdateAppLocationSetting Update a location setting

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param appLocationSetting The app location setting ID
 @return AppLocationSettingAPIUpdateAppLocationSettingRequest
*/
func (a *AppLocationSettingAPIService) UpdateAppLocationSetting(ctx context.Context, appLocationSetting int32) AppLocationSettingAPIUpdateAppLocationSettingRequest {
	return AppLocationSettingAPIUpdateAppLocationSettingRequest{
		ApiService: a,
		ctx: ctx,
		appLocationSetting: appLocationSetting,
	}
}

// Execute executes the request
//  @return AppLocationSetting
func (a *AppLocationSettingAPIService) UpdateAppLocationSettingExecute(r AppLocationSettingAPIUpdateAppLocationSettingRequest) (*AppLocationSetting, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AppLocationSetting
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AppLocationSettingAPIService.UpdateAppLocationSetting")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/app-location-settings/{appLocationSetting}"
	localVarPath = strings.Replace(localVarPath, "{"+"appLocationSetting"+"}", url.PathEscape(parameterValueToString(r.appLocationSetting, "appLocationSetting")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateAppLocationSettingRequest == nil {
		return localVarReturnValue, nil, reportError("updateAppLocationSettingRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateAppLocationSettingRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v InlineObject
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v InlineObject1
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}